body {
    background-image: linear-gradient(rgb(105, 105, 252), rgb(248, 93, 248));
    color: white;
    font: normal 13pt Arial;
}

header {
    text-align: center;
    padding: 15px;
}

section {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

footer {
    text-align: center;
    font-style: italic;
    padding: 15px;
}